#main-footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.1rem;
    font-family: "Bree Serif", sans-serif;
    color: #7e6244;
    border-top: 2px solid #e6d9ae;
    margin-top: 2rem;
}
