.logo {
    border: none;
    background-color: transparent;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem 2rem;
    background-color: #fffdf5;
    border-bottom: 4px solid #d4c79d;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

#header-title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

#header-title h1 {
    font-family: 'Lobster Two', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    color: #d4783a;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    width: 100%;
}

nav input {
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    flex: 1;
}

nav button {
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    background-color: #baa372;
    color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button:hover {
    background-color: #938f65;
}


.search-toggle {
    display: flex;
    gap: 0.5rem;
    margin-left: 2rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.search-toggle label {
    background-color: #f9e9d2;
    border: 1px solid #ecc792;
    border-radius: 999px;
    padding: 0.25rem 0.75rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.85rem;
    color: #5b4636;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}

.search-toggle input[type="radio"] {
    accent-color: #d4783a;
    margin: 0;
}

.search-toggle label:hover {
    background-color: #f1d6b9;
}


@media (min-width: 900px) {
    #main-header {
        flex-direction: row;
    }

    #header-title h1 {
        font-size: 2.5rem;
        margin: 0;
    }

    nav input {
        font-size: 1.2rem;
    }

    nav button {
        font-size: 1.2rem;
    }

    .search-toggle {
        margin-bottom: 0;
    }
}
