.logo {
    border: none;
    background-color: transparent;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #fffdf5;
    border-bottom: 4px solid #d4c79d;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

#header-title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

#header-title h1 {
    font-family: 'Lobster Two', 'Segoe UI', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: #d4783a;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 40rem;
    width: 100%;
}

nav input {
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    flex: 1;
}

nav button {
    padding: 0.7rem 1rem;
    font-size: 0.8rem;
    background-color: #baa372;
    color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button:hover {
    background-color: #938f65;
}

@media (min-width: 640px) {
    #header-title h1 {
        font-size: 2.5rem;
    }

    nav input {
        font-size: 1.2rem;
    }

    nav button {
        font-size: 1.2rem;
    }
}
