@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#f6f6ec, #d6cd9f);
  color: #a86539;
  min-height: 100vh;
}

