@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Quicksand:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#f6f6ec, #d6cd9f);
  color: #a86539;
  min-height: 100vh;
}


/* Recipe */

#recipes {
  width: 100%;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.2rem;
  transition: opacity 0.3s ease-in-out;
}

#main-footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
  color: #5c5246;
  border-top: 2px solid #e6d9ae;
  margin-top: 2rem;
}
